h1{font-size:080px;border-radius:300px;background:linear-gradient(light grren);color:789899;text-shadow:5px 5px 5px purple;letter-spacing:6px;font-family:Florence,algerian;font-weight:bolder;font-variant:small-caps;border:5px solid red;}
body{background-image:url("http://i.stack.imgur.com/jGlzr.png");border-radius:60px;}
nav{text-decoration:none;background-color:rgba(0,0,0,0.1);font-size:40px;border:2px solid green;border-radius:250px;}
a.b{text-decoration:none;color:black;background-color:#7FFF00;border-radius:10px;border:4px solid ;opacity:0.4;}
a.b:hover{opacity:1;}
img{height:50px;width:50px;}
video{width:400;height:400;border-radius:20px;}
div{ visibility: hidden;}
a.b {
  pointer-events: none;
  cursor: default;
}
